 
    .holder{
        width: 100vw;
        margin: 30px 0px;
        display: flex;
        justify-content: space-evenly;
		flex-wrap: wrap;
    }
    .holder>div{
        width: 100px;
        height: 100px;
        background-color: red;
    }

  